* {
  padding: 0px 50px;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif, monospace;
}

.card {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #8a8a8a;
}

.card-title {

}



ul, li {
  list-style: none;
  background-color: transparent;
}

li {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 5px;
}


li:hover {
  color: blue;
  transition: 3ms ease-in;
}
